:root {
    --mainBackground: #ebeffa;
    --boxBackground: #fafbff;
    --blue: #0164fc;
}

@font-face {
    font-family: Exo2;
    src: url(font/Exo2-VariableFont_wght.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Exo2, sans-serif;
}

body {
    background-color: var(--mainBackground);
}

li {
    list-style-type: none;
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 3fr 15fr 5fr;
    grid-template-rows: 1fr 9fr;
    grid-template-areas: "header header header"
        "aside main control";
    padding: 15px;
    gap: 15px;
}

header {
    grid-area: header;
    padding: 15px;
    display: grid;
    /* border: 1px solid red; */
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

}

.topRightOptions {
    display: flex;
    align-items: center;
    padding: 0;
    padding-right: 35px;
}

header h1 {
    justify-self: flex-start;
    font-size: 3em;
}

header div {
    justify-self: end;
    padding: 15px;
}

aside {
    grid-area: aside;
    display: grid;
    grid-template-rows: 3fr 1fr;
    padding: 15px;
}

aside li {
    cursor: pointer;

}

.mainOptions li:nth-child(1) {
    background-color: var(--blue);
    color: var(--boxBackground);
    box-shadow: 0px 12px 28px 0px rgba(140, 149, 159, 0.3);
}

.mainOptions li,
.addOptions li {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.mainOptions li:hover,
.addOptions li:hover {
    background-color: var(--blue);
    color: var(--boxBackground);
    box-shadow: 0px 12px 28px 0px rgba(140, 149, 159, 0.3);
}

.addOptions {
    align-self: center;
}


main {
    grid-area: main;
    padding: 15px;
}

.controlPanel {
    grid-area: control;
    border-radius: 15px;
    margin-top: 15px;
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 15px;
}

.controls {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--mainBackground);
    border-radius: 15px;
}

.announcements {
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: var(--boxBackground);
    border-radius: 15px;
    box-shadow: 0px 12px 28px 0px rgba(140, 149, 159, 0.3);
}

.daily {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: var(--boxBackground);
    border-radius: 15px;
    gap: 15px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 12px 28px 0px rgba(140, 149, 159, 0.3);

}

.daily div {
    padding: 15px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 15px 30px 15px;
    background-color: var(--boxBackground);
    border-radius: 15px;
    box-shadow: 0px 12px 28px 0px rgba(140, 149, 159, 0.3);
}

.card p:nth-child(3) {
    margin-top: 14px;
}

.card .remove {
    background-image: url(svg/delete_FILL0_wght400_GRAD0_opsz24.svg);
    background-color: var(--boxBackground);
    border: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    /* position: relative; */
}

.card .done {
    background-image: url(svg/done_FILL0_wght400_GRAD0_opsz24.svg);
    background-color: var(--boxBackground);
    border: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.card .undone {
    background-image: url(svg/close_FILL0_wght400_GRAD0_opsz24.svg);
    background-color: var(--boxBackground);
    border: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.incomplete {
    position: relative;
}

.incomplete::after {
    position: absolute;
    content: "Status: Awaiting completion ❌";
    top: 92px;
    left: 15px;
    color: red;
}

.complete {
    position: relative;
}

.complete::after {
    position: absolute;
    content: "Status: Completed ✅";
    top: 92px;
    left: 15px;
    color: green;
}

.controls button {
    background-color: var(--mainBackground);
    border: none;
    width: 35px;
    height: 35px;

}

.cardButtons {
    margin-top: auto;
}

.buttonContainer {
    display: flex;
    height: 100%;
}